[submodule "llama.cpp"]
	path = llmodel/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "llmodel/llama.cpp"]
	path = llmodel/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
